#class
{
    margin-top: 10%;
    background-color: #48D1CC;

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}
.secciones
{
    margin-right: 1%;
}
.embed-responsive
{
    width: auto;
    height: auto;
}
body
{
    background-color: #d3dfd4;
}
#footer {
    background-color: #48D1CC;
    height: 10%;
    margin-top: 5%;
}
.fab
{
    margin-right: 3%;
}
.ifooter
{
    font-size:30px;
}

.copyright
{
    font: 150% sans-serif;
}

.navbar
{
    background-color: #48D1CC;
    height: 10%;
}
.ins
{
    --fuentePrincipal: 'Staatliches', cursive;
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding-left: 3rem;
    /*font: 150% sans-serif;*/
}
.ins:hover
{
    color: var(--secundario)
}
.texto
{
    margin-top: 5%;
}
#seccion
{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
}

#clases
{
    background-color: #ffffff;
    height: 30%;
    overflow: hidden;
}

.btn-primary
{
    background-color: #13a6c0;
    border-color: #085375;
}
.btn-primary:hover {
    background-color: #0c788b;
    border-color: #085375;
}

.card-footer-btn {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}



/* FORO */
.container-foro{margin-top:20px;
    background:#eee;
    }
    
    .white-bg {
        background-color: #ffffff;
    }
    .page-heading {
        border-top: 0;
        padding: 0 10px 20px 10px;
    }
    .mid-icon {
      font-size: 66px;
    }
    .forum-item {
      margin: 10px 0;
      padding: 10px 0 20px;
      border-bottom: 1px solid #f1f1f1;
    }
    .forum-container,
    .forum-post-container {
      padding: 30px !important;
    }
    .forum-item small {
      color: #999;
    }
    #forum-get-coment {
      color: #999;
      margin: 1rem;
      height: auto;
      padding-left: 2rem;
    }
    #forum-send-coment {
        color: #999;
        margin: 1rem;
        float: left;
        width: 100%;
        height: auto;
        padding-left: 2.3rem;
    }
    #inputComentario{
        width: 100%;
        margin-bottom: 1rem;
    }
    .forum-title {
      margin: 15px 0 15px 0;
    }
    .forum-icon {
      float: left;
      width: 30px;
      margin-right: 20px;
      text-align: center;
    }
    .forum-icon .fa {
      font-size: 30px;
      margin-top: 8px;
      color: #9b9b9b;
    }
    #tb_comentarios {
        margin-right: 10px;
        text-align: left;
    }
    
    
    .ibox {
      clear: both;
      margin-bottom: 25px;
      margin-top: 0;
      padding: 0;
    }
    .ibox-content {
      background-color: #ffffff;
      color: inherit;
      padding: 15px 20px 20px 20px;
      border-color: #e7eaec;
      border-image: none;
      border-style: solid solid none;
      border-width: 1px 0;
    }
    .text-navy {
        color: #1e1f1e;
    }
    .mid-icon {
        float: left;
        margin-right: 2rem;
        font-size: 3.5rem !important;
    }
    .m-b-sm {
        margin-bottom: 10px;
    }




    .accordion .card {
        border: none;
        margin-bottom: 2px;
    }
    .accordion .card-header {
        background: #48D1CC;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .accordion .card-header h2 {
        color: #fff;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
    }
    .accordion .card-header h2 span {
        float: left;
        margin-top: 10px;
    }
    .accordion .card-header button {
        color: #fff;
        font-size: 1.3rem;
        line-height: 1.3rem;
        float: right;
    }
    .accordion .card-header button:hover {
        color: #23384e;
    }